.container {
  padding: 50px;
  background-color: white;
}

.inputStyle {
}

.sigStyle {
  font-family: 'Priestacy', cursive;
  font-size: 24px;
}

.gridContainer {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr);
  gap: 15px; /* Adjust the gap between grid items */
}
.gridItem {
}

.fullWidth {
  grid-column: 1 / -1; /* This will make the item take full width */
}

.logo {
  inline-size: 100px;
  block-size: 100px;
}

.logoContainer {
  display: flex;
  justify-content: center;
}
