.container {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  transform: translate(-50%, -50%);
  inline-size: 1000px;
  block-size: 700px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.name {
  font-size: 18px;
  font-weight: 600;
}

.age {
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
}

.profileImage {
  inline-size: 100px;
  block-size: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-inline-end: 10px;
}

.image {
  inline-size: 100px;
  block-size: 100px;
  object-fit: cover;
  margin-block: 3px;
}

.video {
  inline-size: 200px;
  block-size: 100px;
  object-fit: cover;
}

.section1 {
  margin-block-start: 30px;
}

.section2 {
  margin-block: 30px;
}

.tag {
  background-color: #fcc69a;
  border-radius: 20px;
  padding-block: 5px;
  padding-inline: 10px;
  font-size: 12px;
  font-weight: 400;
  margin-inline-end: 10px;
}

.label {
  font-size: 14px;
  font-weight: 600;
}

.link {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}

.mediaImage {
  inline-size: 80px;
  block-size: 80px;
  object-fit: cover;
}

.sigStyle {
  font-family: 'Priestacy', serif;
  font-size: 24px;
}
